
<div class="text-center twelve columns" style="margin-top:5px;">
    <h1>Users</h1>
    <hr>
</div>


<table align="center" class="userTable">
  <thead>
    <tr>
      <th>Email</th>
      <th>Money</th>
      <th>Adult</th>
      <th>Admin</th>
      <th>Date of registration</th>
      <th colspan="1"></th>
    </tr>
  </thead>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="text-decoration: underline;"><%= link_to user.email, "/users/showTickets/#{user.id}"%></td>

        <td><%= user.money %> $ </td>
        <td><%= user.adult %></td>
        <td><%= user.admin %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Show', "/users/showTickets/#{user.id}", class: "btn btn-sm" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= link_to 'Back', :back, class: "btn", style: "margin-bottom:10px" %>
</div>

