<% @events.each do |event| %>
    <div class="column columnEvent" date="<%= event.event_date %>">
        
            <div  class="media-center">
            <% if event.photo.presence %>
                <%= link_to image_tag(event.photo.url, class: 'media-object'), event.photo.url, target: '_blank' %>
            <% else %>
                <img class="media-object"  src="/system/events/photos/white.png"/>
            <% end %>
            </div>
        
        
        
        <h5><%= link_to event.artist , "/events/#{event.id}" %></h5>
        <p>Price: $<%= event.price_low %> - $<%= event.price_high %></p>
        <p>Remained places: <%= event.placesNumber %></p>
        <p><%= event.description %></p>
        <p>Date: <%= event.event_date %></p>
        
         <%= link_to "Check out", "/events/#{event.id}", class:"btn" %>

        <% if current_user.try(:admin?) %>
            <td><%= link_to 'Edit', edit_event_path(event), class:"btn" %></td>
        <% end %>
    </div>
<% end %>
