<div class="text-center">
  <p>
    <h5><%= link_to @event.artist , "/events/#{event.id}", class:"artistInfo" %></h5>
  </p>

  <p>
    <strong>Only:
    <%= @event.placesNumber %>
    Tickets left
    </strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Price low:</strong>
    <%= @event.price_low %> $
  </p>

  <p>
    <strong>Price high:</strong>
    <%= @event.price_high %> $
  </p>

  <p>
    <strong>For adult:</strong>
    <%= @event.forAdult %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.event_date %>
  </p>

  <p>
    <strong>Maximum tickets per person:</strong>
    <%= @event.limitTicket %>
  </p>

    <% if @event.photo.presence %>
        <div class="media-center">
            <%= link_to image_tag( @event.photo.url, class: 'media-object'),  @event.photo.url, target: '_blank' %>
        </div>
    <%end%>
</div>