<%= form_with(model: event, local: true, :html => {:multipart => true } ) do |form| %>
  &nbsp
  
  <% if event.errors.any? %>
    <div id="error_explanation" class="text-center" style="margin: 0px auto 5px auto;" >
    <h2  class="text-center"><%= pluralize(event.errors.count, "error") %> during sending a request</h2>
    <ul>
      <% event.errors.full_messages.each do |message| %> 
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
  <% end %>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :event_artist %>
  </div>


  <div class="field">
    <%= form.label :placesNumber %>
    <%= form.number_field :placesNumber,  min: 0, id: :event_placesNumber %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :price_low %>
    <%= form.number_field :price_low, min: 0, id: :event_price_low %>
  </div>

  <div class="field">
    <%= form.label :price_high %>
    <%= form.number_field :price_high, min: 0, id: :event_price_high %>
  </div>

  <div class="field">
    <%= form.label "Only for adult" %>
    <%= form.check_box  :forAdult, id: :event_forAdult %>
  </div>

  <div class="field">
    <%= form.label "Limit tickets to buy" %>
    <%= form.number_field :limitTicket, id: :limitTicket %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= date_field("event", "event_date") %>
  </div> 

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit buttonName, class: "button expanded" %>
  </div>
<% end %>

