<div class="text-center twelve columns" style="margin-top:5px;">
    <h1>Editing event</h1>
</div>
<%= render 'form', event: @event, buttonName: "Edit Event" %>


<div class="text-center">
    <%= link_to 'Show', @event, class: "btn", style:"margin-bottom:5px" %>
    <%= link_to 'Back', :back, class: "btn", style:"margin-bottom:5px" %>
</div>