<div class="text-center twelve columns" style="margin-top:5px;">
      <hr>
      <h2>Our Newest Events</h2>
      <hr>
</div>


<% if signed_in? %>
      <div class="text-center twelve columns" style="margin:0 5px 10px 5px;">
            <%= link_to 'New event', new_event_url , class: "btn" %>
      </div>
<% end %>


<div class="row small-up-2 medium-up-3 large-up-4">
      <%= render 'events/allEvents', events: @events %>
</div>
 
<% if current_user.try(:admin?) %>
      <div class="text-center twelve columns">
            <hr>
            <h2>Archives</h2>
            <hr>
      </div>

      <div class="row small-up-2 medium-up-3 large-up-4">
            <%= render 'events/allEvents', events: @events = @eventsOld%>
      </div>
<% end %>  


<div class="text-center col-md-4 col-md-offset-4 col-8 col-sm-offset-4 col-xs-offset-2" style="margin-top:15px">
      Date from: <input type="date" name='dateFrom' class="inputDate "/>
      Date to: <input type="date" name='dateTo' class="inputDate  "/>
</div>