<div style="text-center">
    <div class="text-center twelve columns" style="margin-top:5px;">
        <h1>New Event</h1>
        <hr>
    </div>

    <%= render 'form', event: @event, buttonName: "Create Event" %>
    <%= link_to 'Back', events_path, class: "btn" %>

</div>