<div class="text-center">
  <p id="komunikat"><%= flash[:komunikat] %></p>

  <%if @canBuy==false %>
    Tickets will be released for sale one month before the show
  <%end%>


  <%if @ticket.present? %>
    <%= render "tickets/form", ticket: @ticket, buttonName: "Buy" %>
  <%elsif current_user%>
    <%= render "tickets/form", ticket: Ticket.new( :event_id=>@event.id, :user_id=>current_user.id), buttonName: "Buy", ticketReservedArray: @ticketReservedArray %>
  <%else%>
    <%= render "tickets/form", ticket: Ticket.new(:event_id=>@event.id), buttonName: "Buy", ticketReservedArray: @ticketReservedArray %>
  <%end%>



  <div class="text-center twelve columns" style="margin-top:5px;">
      <hr>
      <h2>Event Information</h2> 
      <hr>
  </div>
  <%= render 'events/eventInfo', event: @event %>
  

  <div class="text-center twelve columns" style="margin-top:5px;">
      <hr>
      <h2>Bought Tickets</h2> 
      <hr>
  </div>

  <%= render "tickets/ticket_list", tickets: tickets = @event.tickets, allTickets: true %>



  <div style="text-center">  
    <%= link_to 'Back', :back, class:"btn btnBack" %>
  </div>
  
</div>