<div class="text-center">
    <% if @tickets.count == 0 %>
        <h3 style="margin: 20px 0"> 0 Tickets</h3>
    <% else %>
        <div class="text-center twelve columns" style="margin-top:5px;">
            <h1> <%= @tickets[0].user.email %>'s tickets</h1>
            <hr>
        </div>

        <%= render 'tickets/ticket_list', tickets: @tickets, allTickets: true %>
    <% end %>


</div>  