<div class="text-center">
    <% if @tickets.count == 0 %>
        <h3 style="margin: 20px 0"> You don't have any tickets!</h3>
    <% else %>
        <div class="text-center twelve columns" style="margin-top:5px;">
            <h1>My tickets</h1>
            <hr>
        </div>

        <%= render 'tickets/ticket_list', tickets: @tickets, allTickets: false %>
    <% end %>


</div>  