<% if ticket.event.placesNumber==0 %>
  <strong class="alert"> Tickets are sold out </strong>
<% end %>

<%= form_with(model: ticket, local: true, id: "buyTicket") do |form| %>
  <%if current_user %>
    <% if ticket.errors.any? %>
      <div id="error_explanation" class="text-center" style="margin: 0px auto 5px auto;">
        <h2  class="text-center"><%= pluralize(ticket.errors.count, "error") %> during sending a request</h2>

        <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!--<div class="field">
      <%= form.label :user_id %>
      <%= form.text_field :user_id, id: :ticket_user_id %>
    </div>

      <div class="field">
      <%= form.label :event_id %>
      <%= form.text_field :event_id, id: :ticket_event_id %>
    </div> -->

    
    <div class="row">
      <%= form.hidden_field :user_id %>
    </div>

      <div class="row">
      <%= form.hidden_field :event_id %>
    </div>
    
    
    <% if ticket.event_id.present? %>
      <div class="text-center twelve columns" style="margin-top:5px;">
          <h2>Ticket for <%= ticket.event.artist %> event</h2> 
          <hr>
      </div>
    <% end %>

    <% if ticket.seat_id_seq.present? && ticket.seat_id_seq!='null' %>
      <div class="row">
        <%= form.label "Your previous seat" %>
        <%= form.text_area :seat_id_seq, id: :seat_id_seq_id  %>
      </div>
    <% end %>

    <div class="row">
      <%= form.label "Your seats" , class: "col-5" %>
      <div class="col-2"></div>
      <%= form.label :email_address, class: "col-5 "%>
    
    </div>

    <div class="row">
    <%= form.text_field "  ", :readonly => !current_user.try(:admin?), id: :ticket_seat_id_seq, class: " col-5" %>
    <div class="col-2"></div>
      <% if ticket.user_id.present? %>
        <%= form.text_field :email_address, id: :ticket_email_address, :readonly => !current_user.try(:admin?),  value: ticket.user.email, class: " col-5" %>
      <% else %>
        <%= form.text_field :email_address, id: :ticket_email_address, :readonly => !current_user.try(:admin?),  value: current_user.email, class: " col-5" %>
      <% end %>
    </div>


    <div class="row text-center">
      
      <%= form.label :price %> 
      <label>&nbsp</label>
      <label id='priceShow'> <%= ticket.event.price_low %></label> 
      <label>$</label>
      <%= form.range_field :price, id: :ticket_price,:step => '.1', min: ticket.event.price_low, max: ticket.event.price_high, value: ticket.event.price_low, class:"rangeInput col-10"%>
      
    </div>

    <div class="row">
      <%= form.label :address %>
      <%= form.text_area :address, id: :ticket_address  %>
    </div>

    <div class="row">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :ticket_phone %>
    </div>


    <div class="row">
      <%= form.label "How many tickets?" %>
      <%= form.number_field :numberOfTickets, id: :numberOfTickets, min:1 ,max:ticket.event.limitTicket, value:0, :readonly => true %>
    </div>

  <% end %>

  <% if signed_in? %>
    <h5 class='col-12'> Reserve your places</h5>
  <% else %>
    <h2 class='col-12'> Reserved places</h2>
  <% end %>

  <div class="row text-center divTable">
    <% initial = ticket.event.artist[0] %>
    <% for i in 1..ticket.event.placesNumberAll %>
      <% if @ticketReservedArray.include? initial+i.to_s %>
        <div  title="Reserved" class='col-1 col-xs-1 seat reserved'><%= initial+i.to_s %> </div>
      <% else %>
        <div class='col-1 col-xs-1 seat empty'><%= initial+i.to_s %> </div>
      <% end %>
    <% end %>
  </div>

  <% if signed_in? %>
      <div class="actions">
      <%= form.submit buttonName ,class: "button expanded" , disabled: (!@canBuy || ticket.event.placesNumber==0) && !current_user.try(:admin?) %>
    </div>
  <%end%>
<% end %>

