<div class="text-center">
  <p>
    <strong>Owner:</strong>
     <%= link_to @ticket.user.email, "/users/showTickets/#{@ticket.user.id}", style:"text-decoration:underline "%>
  </p>

  <p>
    <strong>Seat id sql:</strong>
    <%= @ticket.seat_id_seq %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @ticket.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @ticket.price %> $
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @ticket.phone %>
  </p>

  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_ticket_path(@ticket), class:"btn" %>
  <% end %>
</div>

<div class="text-center twelve columns" style="margin-top:5px;">
    <h1>Event's Information</h1>
    <hr>
</div>