<% if current_user.try(:admin?) %>

<% end %>  

<table align="center" class="ticketTable">
  <thead>
    <tr>
      <th>Artist name</th>
      <th>Owner</th>
      <th>Seat</th>
      <th>Price</th>
      <th>Address</th>
      <!-- <th>Email address</th> -->
      <th>Phone</th>
      <th>Price to return</th>
      <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>
    <% tickets.each do |ticket| %>
      <tr class=<%= "status" + ticket.status.to_s %> >
        <% if ticket.event.artist.present? %>
          <td style="text-decoration: underline;"><%= link_to ticket.event.artist , "/events/#{ticket.event.id}" %></td>
        <% else %> 
          <td></td>
        <% end %> 
        <td style="text-decoration: underline;"><%= link_to ticket.user.email, "/users/showTickets/#{ticket.user.id}"%></td>

        <td><%= ticket.seat_id_seq %></td>

        <td><%= ticket.price %> $ </td>
        <td><%= ticket.address %></td>
        <!--<td><%= ticket.email_address %></td> %> -->
        <td><%= ticket.phone %></td>
        <% if ticket.price_return.present? %>
          <td><%= ticket.price_return %> $</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', ticket, class: "btn btn-sm" %></td>
        <% if current_user.try(:admin?) || (ticket.user == current_user && ticket.status == 0)%>
          <td><%= link_to 'Edit', edit_ticket_path(ticket), class: "btn btn-sm"  %></td>
        <% else %>
          <td></td>
        <% end %>

        <% if ticket.event.event_date >= Date.today && ticket.status == 0 && allTickets==false %>
          <td><%= link_to 'Return for ' + (ticket.price * 0.4 + ((ticket.event.event_date.mjd - Date.today.mjd).to_f()/(ticket.event.event_date.mjd - Date.today.mjd + 1))*0.5*ticket.price ).round(2).to_s + '$', users_ticket_wantdelete_path(:id => ticket.id), class: "btn" %></td>
        <% else %>
          <td></td>
        <% end %> 
        <% if current_user.try(:admin?) && ticket.status == 1 %>
          <td><%= link_to 'Return Money', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm" %></td>
        <% else %>
          <td></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>