
<h1 class="text-center">Editing Ticket</h1>



<%= render 'form', ticket: @ticket, buttonName: "Edit" %>


<div class="text-center">
<%= link_to 'Show', @ticket, class: "btn", style:"margin-bottom:5px" %>
<%= link_to 'Back', :back, class: "btn", style:"margin-bottom:5px" %>
</div>