<div class="text-center twelve columns" style="margin-top:5px;">
    <h1>Tickets</h1>
    <hr>
</div>

<%= render 'tickets/ticket_list', tickets:@tickets, allTickets: true %>
<br>

<!-- <%= link_to 'New Ticket', new_ticket_path %> -->
