<h1>New Ticket</h1>

<%= render 'form', ticket: @ticket, buttonName: "Buy" %>
<div class="row large-up-12">
    <%= render 'events/allEvents', events: @events = Event.all %>
</div>

<%= link_to 'Back', :back %>



