<div class="text-center twelve columns" style="margin-top:5px;">
    <h1>Ticket's Information</h1>
    <hr>
</div>

<%= render 'tickets/ticketInfo', ticket: @ticket %>

<%= render 'events/eventInfo', event: @event = @ticket.event %>

<div class="text-center">
  <%= link_to 'Back', :back, class: "btn", style: "margin-bottom:10px" %>
</div>
