// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artistInfo{
    padding:5px 10px;
    font-size: 16pt;
    color:rgb(107, 80, 13);
    text-decoration: underline;
}

.artistInfo:hover{
    background-color: rgb(107, 80, 13);
    font-size: 16pt;
    color:white;
    text-decoration: underline;
}

.field_with_errors{
    width:100%;
    background-color:#f7d4d4 !important;
}

.media-object{
    max-height:220px;
}

.seat{
    width: 10vw;
    height: 5.5vw;
    line-height: 5.5vw;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.seat:nth-child(-n+12){
    border-top: 1px solid black;
}

.seat:nth-child(12n), .seat:last-child {
    border-right: 1px solid black;
}

.seat:hover{
    background-color: gold;

}

.seat.reserved{
    background-color: rgb(252, 67, 92);
}

.seat.reserved:hover{
    background-color: red;
    cursor: not-allowed;
}

.seat.book{
    background-color: lightgreen;
}

.seat.book:hover{
    background-color: rgb(90, 207, 90);
}
