

body,p, ol, ul, td, h1,h2,h3,h4,h5 {
    font-family: 'Josefin Sans', sans-serif;
}
    

.media-center{
    max-height: 220px !important;
}

.btn{
    border: 1px solid black
}

.btnBack{
    padding:10px 50px;
    margin: 10px 0;
}

.media-object{
   margin-left: auto;
   margin-right: auto;
}



.btn:hover{
    color:white
}

