// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button.expanded{
   background-color:goldenrod
}

.button.expanded:hover{
   background-color:darkgoldenrod
}

.button:disabled{
    cursor: not-allowed;
}

.divTable{
    margin-bottom: 10px;
}

.ticketTable td, .ticketTable th{
    vertical-align: middle;
    text-align: center;
}

.rangeInput{
    margin-left: 5px;
    width:300px;
}

.status1{
  background-color: goldenrod !important
}
