<div class="text-center" style="margin-top:5px">
  <%= form_with(model: @users_path, local: true) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this ticket from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <h3 style="margin: 20px 0"> Your account balance: <%= @user.money %> $ </h3>
    </div>
    
    <div class="field">
      <%= form.hidden_field "money", value: @user.money %>
    </div>


  <div class="field">
      <%= form.label "Add Money" %>
      <%= form.number_field :moneyAdd,  id: :user_moneyAdd, value:0  %>
    </div>

    <div class="actions">
        <%= form.submit "Send" ,class:"button sendbtn" %>
    </div>

  <% end %>
</div>