// Place all the styles related to the users/money controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sendbtn{
    background-color:white;
    color:black;
    border: 1px solid black;
    padding: 10px 50px;
}

.sendbtn:hover{
    background-color:black;
    color: white;
}

.column{
    margin-bottom:20px;
}