// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userTable td, .userTable th{
    vertical-align: middle;
    text-align: center;
}