
<div class="callout secondary" style="margin-top:10px;">
    <div class="row">
        <div class="medium-2 large-2 columns">
            <h5 class="text-center" style="margin-top:5px ">Event4U</h5>
        </div>
        <div class="medium-6 large-6  columns">
            <ul class="menu">
                <%if signed_in? %>
                    <li><%= link_to "My tickets", users_ticket_show_path %></li>
                    <li><%= link_to "Add money", users_money_index_path %></li>
                <% end %>
                <%if current_user.try(:admin?) %>
                    <li><%= link_to "Tickets", tickets_url %></li>
                    <li><%= link_to "Users", users_index_path %></li>
                <% end %>
            </ul>
        </div>
        <div class="medium-3 large-4 columns">
            <ul class="menu">
                <%if signed_in?%>
                    <li><%=link_to current_user.email, edit_user_registration_path%></li>
                    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
                <%else%>
                    <li><%=link_to "Register", new_user_registration_path%></li>
                    <li><%=link_to "Login", new_user_session_path%></li>
                <%end%>
            </ul>
        </div>
    </div>
</div>