 <!-- Start Top Bar -->
    <div class="top-bar" style="height:auto">
      <div class="top-bar-left">
        <ul class="menu">
          <li><%= link_to "Event4U", root_path %> </li>
          <%if signed_in? %>
            <li><%= link_to "My tickets", users_ticket_show_path %></li>
            <li><%= link_to "Add money", users_money_index_path %></li>
          <% end %>
           <%if current_user.try(:admin?) %>
            <li><%= link_to "Tickets", tickets_url %></li>
            <li><%= link_to "Users", users_index_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%if signed_in? %>
            <li><%=link_to current_user.email, edit_user_registration_path %></li>
            <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <%else%>
            <li><%=link_to "Register", new_user_registration_path%></li>
            <li><%=link_to "Login", new_user_session_path%></li>
          <%end%>
        </ul>
      </div>
    </div>

<% if notice %>
  <p class="alert alert-success text-center bold"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger text-center bold"><%= alert %></p>
<% end %>